services:
  api:
    build:
      context: .
      args:
        GO_VERSION: ${GO_VERSION:-1.26.3}
    ports:
      - "{{SERVICE_PORT}}:{{SERVICE_PORT}}"
    volumes:
      - ./data:/app/data
      - ./log:/app/log
    environment:
      - {{SERVICE_UPPER}}_ENVIRONMENT=development
      - {{SERVICE_UPPER}}_DATABASE_PATH=/app/data/{{SERVICE}}.db
      - {{SERVICE_UPPER}}_LOG_DIR=/app/log
    restart: always

  atlas:
    image: arigaio/atlas
    volumes:
      - .:/app
      - ./data:/data
    working_dir: /app
