ENVIRONMENT: production
SERVER:
  ADDR: ":{{SERVICE_PORT}}"
  HOST: "localhost:{{SERVICE_PORT}}"
  READ_TIMEOUT: 5s
  WRITE_TIMEOUT: 10s
  IDLE_TIMEOUT: 120s
DATABASE:
  PATH: "data/{{SERVICE}}.db"
  DRIVER: "sqlite3"
  DSN: ""
LOG:
  DIR: "log"
  LEVEL: "info"
AUTH:
  JWT_SECRET: "a-very-secure-and-shared-secret-key"
  JWT_EXPIRY: 24h
CORS:
  ALLOWED_ORIGINS:
    - "*"
